************************************ Home Slider Start *************************************-->
<div class="tg-homeslider tg-haslayout">
    <div class="tg-bannerimg" data-vide-bg="poster: assets/images/slider/img-01.jpg" data-vide-options="position: 0% 50%">
        <div class="tg-bannercontentholder">
            <div class="container">
                <div class="row">
                    <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6">
                        <div class="tg-postbook">
                            <figure class="tg-featureimg">
                                <div class="tg-bookimg">
                                    <div class="tg-frontcover"><img src="assets/images\slider\fronimg.jpg" alt="image description"></div>
                                    <div class="tg-backcover"><img src="assets/images\slider\backimg.jpg" alt="image description"></div>
                                </div>
                            </figure>
                        </div>
                    </div>
                    <div class="col-xs-7 col-sm-6 col-md-6 col-lg-6">
                        <div class="tg-bannercontent">
                            <span class="tg-bookby">By: Jason I. Taron</span>
                            <h1>Big Day OR<span>Bad Day</span></h1>
                            <div class="tg-description">
                                <p>Consectetur adipisicing elit eiusmod tempoiunt ut labore et dolore magna aliqua enim adeinim niam amaquis nostrud exercitation.</p>
                            </div>
                            <div class="tg-btnarea">
                                <a class="tg-btn tg-active" href="javascript:void(0);">Buy Now For $9.30</a>
                                <a class="tg-readsample" href="javascript:void(0);">Read A Free Sample</a>
                            </div>
                            <em class="tg-inlucdebooks">* eBook includes iBooks, PDF &amp; ePub versions</em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--************************************
				Home Slider End
		*************************************-->
<!--************************************
				Main Start
		*************************************-->
<main id="tg-main" class="tg-main tg-haslayout">
    <!--************************************

				About Us End
		*************************************-->
    <!--************************************
				Newsletter Start
		*************************************-->
    <section class="tg-haslayout tg-sectionspace tg-bglight">
        <div class="container">
            <div class="row">
                <div class="tg-newsletter">
                    <div class="col-xs-12 col-sm-12 col-md-8 col-md-push-2 col-lg-8 col-lg-push-2">
                        <div class="tg-sectionhead">
                            <div class="tg-sectiontitle">
                                <h2>Get Latest News Updates &amp; Tips</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-10 col-md-push-1 col-lg-10 col-lg-push-1">
                        <form class="tg-formtheme tg-formnewsletter">
                            <fieldset>
                                <div class="form-group">
                                    <input type="text" name="firstname" class="form-control" placeholder="Your Name">
                                </div>
                                <div class="form-group">
                                    <input type="email" name="youremail" class="form-control" placeholder="Your Email">
                                </div>
                                <button type="submit" class="tg-btn tg-active">Signup</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
				Newsletter End
		*************************************-->
    <!--************************************
				Services Start
		*************************************-->
    <section id="tg-topics" class="tg-haslayout tg-sectionspace">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8 col-md-push-2 col-lg-8 col-lg-push-2">
                    <div class="tg-sectionhead">
                        <div class="tg-sectiontitle">
                            <h2>Topics Covered</h2>
                        </div>
                        <div class="tg-description">
                            <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamco laboris.</p>
                        </div>
                    </div>
                </div>
                <div class="tg-topics">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="tg-topic">
                            <i class="tg-topicon icon-rocket"></i>
                            <div class="tg-topiccontent">
                                <div class="tg-title">
                                    <h3>Chapter Title 01</h3>
                                </div>
                                <div class="tg-description">
                                    <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt utore et dolore magna aliqua enim ad minim.</p>
                                </div>
                            </div>
                            <i class="tg-bottomicon icon-rocket"></i>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="tg-topic">
                            <i class="tg-topicon icon-camera"></i>
                            <div class="tg-topiccontent">
                                <div class="tg-title">
                                    <h3>Chapter Title 01</h3>
                                </div>
                                <div class="tg-description">
                                    <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt utore et dolore magna aliqua enim ad minim.</p>
                                </div>
                            </div>
                            <i class="tg-bottomicon icon-camera"></i>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="tg-topic">
                            <i class="tg-topicon icon-bookmark"></i>
                            <div class="tg-topiccontent">
                                <div class="tg-title">
                                    <h3>Chapter Title 01</h3>
                                </div>
                                <div class="tg-description">
                                    <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt utore et dolore magna aliqua enim ad minim.</p>
                                </div>
                            </div>
                            <i class="tg-bottomicon icon-bookmark"></i>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="tg-topic">
                            <i class="tg-topicon icon-heart-pulse"></i>
                            <div class="tg-topiccontent">
                                <div class="tg-title">
                                    <h3>Chapter Title 01</h3>
                                </div>
                                <div class="tg-description">
                                    <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt utore et dolore magna aliqua enim ad minim.</p>
                                </div>
                            </div>
                            <i class="tg-bottomicon icon-heart-pulse"></i>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="tg-topic">
                            <i class="tg-topicon icon-gift"></i>
                            <div class="tg-topiccontent">
                                <div class="tg-title">
                                    <h3>Chapter Title 01</h3>
                                </div>
                                <div class="tg-description">
                                    <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt utore et dolore magna aliqua enim ad minim.</p>
                                </div>
                            </div>
                            <i class="tg-bottomicon icon-gift"></i>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="tg-topic">
                            <i class="tg-topicon icon-diamond"></i>
                            <div class="tg-topiccontent">
                                <div class="tg-title">
                                    <h3>Chapter Title 01</h3>
                                </div>
                                <div class="tg-description">
                                    <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt utore et dolore magna aliqua enim ad minim.</p>
                                </div>
                            </div>
                            <i class="tg-bottomicon icon-diamond"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
				Services End
		*************************************-->


    <!--************************************
				Author Start
		*************************************-->
    <section id="tg-author" class="tg-haslayout tg-sectionspace">
        <div class="container">
            <div class="row">
                <div class="tg-aboutauthor">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <figure class="tg-authorimg tg-imgshadow">
                            <img src="assets/images\authors\authorimg.jpg" alt="image description">
                        </figure>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="tg-aboutauthorshortcode tg-textshortcode">
                            <div class="tg-sectionhead tg-sectionheadvtwo tg-textalignleft">
                                <div class="tg-sectiontitle">
                                    <span>Know More About Author</span>
                                    <h2>Jason I. Taron</h2>
                                </div>
                            </div>
                            <div class="tg-description">
                                <p>Consectetur adipisicing elit eiusmod tempoiunt uatare dolore magna aliqua enim adeinim amaquis nodceace exercitation ullamco laboris nisi aliquip exteate.</p>
                                <p>Arure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nones proident, sunt in culpa.</p>
                            </div>
                            <div class="tg-followauthor">
                                <span>Follow:</span>
                                <ul class="tg-socialicons">
                                    <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                    <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                    <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                    <li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                                    <li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-sectionhead tg-textalignleft">
                        <div class="tg-sectiontitle">
                            <h2>Awesome Contributors</h2>
                        </div>
                    </div>
                </div>
                <div class="tg-contributors">
                    <div class="tg-contributorholder">
                        <div class="tg-contributor">
                            <figure>
                                <img src="assets/images\authors\img-01.jpg" alt="image description">
                            </figure>
                            <div class="tg-content">
                                <div class="tg-contributorname">
                                    <h2><a href="javascript:void(0);">Matthew Thomason</a></h2>
                                </div>
                                <div class="tg-description">
                                    <p>Consectetur adipisicing elit sed eiusmod temporutai laboretae magna.<a href="javascript:void(0);">www.themeforest.net</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tg-contributorholder">
                        <div class="tg-contributor">
                            <figure>
                                <img src="assets/images\authors\img-02.jpg" alt="image description">
                            </figure>
                            <div class="tg-content">
                                <div class="tg-contributorname">
                                    <h2><a href="javascript:void(0);">Takisha Locicero</a></h2>
                                </div>
                                <div class="tg-description">
                                    <p>Consectetur adipisicing elit sed eiusmod temporutai laboretae magna.<a href="javascript:void(0);">www.themeforest.net</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tg-contributorholder">
                        <div class="tg-contributor">
                            <figure>
                                <img src="assets/images\authors\img-03.jpg" alt="image description">
                            </figure>
                            <div class="tg-content">
                                <div class="tg-contributorname">
                                    <h2><a href="javascript:void(0);">Daina Saito</a></h2>
                                </div>
                                <div class="tg-description">
                                    <p>Consectetur adipisicing elit sed eiusmod temporutai laboretae magna.<a href="javascript:void(0);">www.themeforest.net</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tg-contributorholder">
                        <div class="tg-contributor">
                            <figure>
                                <img src="assets/images\authors\img-04.jpg" alt="image description">
                            </figure>
                            <div class="tg-content">
                                <div class="tg-contributorname">
                                    <h2><a href="javascript:void(0);">Tommy Deford</a></h2>
                                </div>
                                <div class="tg-description">
                                    <p>Consectetur adipisicing elit sed eiusmod temporutai laboretae magna.<a href="javascript:void(0);">www.themeforest.net</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
				Author End
		*************************************-->

</main>
<!--************************************
				Main End
		*************************************